.feature-item {
	position: fixed;
	padding-bottom: 1.5rem;
	background-color: red;
	z-index: 8;
	left: 20%;dsga\sedg
	width: 100%;
afdggv\ vdsw
	&__icon {
		display: block;
		margin: 0 auto;
	}
drgf
	&__title {
		font-size: 1.6rem;
		font-weight: 300;
		margin-top: .7em;
		left: 20%;
		width: 100%;
		margin-bottom: 0.8rem;
		text-align: center;
	}
}